main {
  display: flex;
  flex-wrap: nowrap;
  height: 100vh;
  height: -webkit-fill-available;
  max-height: 100vh;
  overflow-x: auto;
  overflow-y: hidden;
}

app-sidebar {
  display: flex;
  flex-wrap: nowrap;
  height: 100vh;
  height: -webkit-fill-available;
  max-height: 100vh;
  overflow-x: auto;
  overflow-y: hidden;
}

.fix-height{
  height: 100vh;
  height: -webkit-fill-available;
  max-height: 100vh;
  overflow-x: hidden;
  overflow-y: hidden;
}
